#app {
    margin: 0px;
}

div.first-section {
    background-color : #232E42;
    width: 100%;
    margin: 0px;
}

img.header-image {
    margin: 24px 24px 24px 0;
}

div.header-right-block {
    margin: 32px 0 0 0;
}

.header-text {
    font: 36px Roboto, sans-serif ;
    color: #FFFFFF;
    display: inline-block;
}

.header-text.header-text-highlight {
    color: #3BB7FD;
    display: inherit;
    font-weight: bold;
}

ul.header-right-list {
    list-style-image: url("Images/00002.png");
}

div.second-section {
    background-image: url("images/00003.png");
    height: 500px;
    margin: 0px;
    background-size: 100% 100%;
    
}

@media (max-width: 1151.98px) {
    div.second-section {
        background-image: url("images/00004.png");
    }    
}

.second-section-margin {
    margin-left: 256px;
    margin-top: 80px;
    margin-bottom: 36px;
    max-width: 600px;
}

@media (max-width: 767.98px) {
    .second-section-margin {
        margin-left: 36px;
        max-width: 300px;
    }
}

p.second-section-header {
    margin: 48px 0 0 0;
    font: 48px Roboto, sans-serif ;
    color: black;
    font-weight: bold;
}

button.download-button {
    background: url("Images/00001.svg");
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    color: white;
    padding: 8px 24px;
    border-radius: 2px;
    margin: 0 16px 0 0;
}

p.middle-text {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.third-section{
    margin-top: 48px;
    margin-right: 0px;
}

.third-section-extractor {
    color: black;
    font-size: 36px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.middle-text.lower-text {
    font-size: 18px;
}

.download-button.download-yellow-button {
    background: url("Images/00003.svg");
    margin-top: 54px;
    margin-bottom: 60px;
}

.fourth-section {
    background: #F8F7F7;
    margin-top: 36px;
    margin-right: 0px;
}

.fourth-section-card-header {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.fourth-section-card-text {
    color: black;
    font-size: 24px;
    font-weight: normal;
}

.fourth-section-end {
    /* margin-bottom: 36px; */
}

.fifth-block {
    background: url("Images/00008.png");
    background-size: 100% 100%;
    margin-top: 36px;
}

.fifth-block-content {
    margin-top: 96px;
}

.fifth-img-header {
    margin-bottom: 36px;
}

.fifth-card-body {
    font-size: 24px;
    color: black;
}

.fifth-card-corner-offset {
    margin-top: 168px;
}

.download-yellow-button.no-offset {
    margin-bottom: 0px;
}

.reference-bottom-message {
    margin-top: 36px;
}

.sixth-section {
    
}