* {
    margin: 0;
    padding: 0;
}

#app {
    margin: 0px;
}

.margin-tb-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.margin-t-16 {
    margin-top: 16px;
}

.margin-t-32 {
    margin-top: 32px;
}

.margin-b-32 {
    margin-bottom: 32px;
}

div.first-section {
    background-color : #232E42;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 16px;
}

img.header-image {
    margin: 24px 24px 24px 0;
}

div.header-right-block {
    margin: 32px 0 0 0;
}

.header-text {
    font: 36px Roboto, sans-serif ;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
}

.header-text.header-text-highlight {
    color: #3BB7FD;
    display: inherit;
    font-size: 48px;
}

.header-text.margin-tb-16 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.header-text.padding-lr-0 {
    padding-left: 0px;
    padding-right: 0px;
}

ul.header-right-list {
    list-style-image: url("Images/00002.png");
}

div.second-section {
    background-image: url("images/00003.png");
    margin: 0px;
    padding: 48px 0 48px 0;
    background-size: 100% 100%;
    
}

@media (max-width: 1200.98px) {
    div.second-section {
        background-image: url("images/00004.png");
    }    
}



.second-section-margin {
    margin-top: 16px;
    margin-bottom: 36px;
    max-width: 600px;
}

@media (max-width: 1300.98px) {
    .second-section-margin {
        max-width: 300px;
    }
}

p.second-section-header {
    margin: 48px 0 0 0;
    font: 48px Roboto, sans-serif ;
    color: black;
    font-weight: 600;
}

.text-right.padding-r--15 {
    margin-right: -15px;
}

button.download-button {
    background: url("Images/00001.svg");
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    color: white;
    padding: 6px 16px 9px 25px;
    border-radius: 2px;
    margin: 0 0 16px 0;
}

button.download-button.blue-button {
    margin-top: 24px;
    margin-bottom: 24px;
}

.margin-l-8 {
    margin-left: 8px;
}

.padding-tb-16-32{
    padding-top: 16px;
    padding-bottom: 32px;
}

p.middle-text {
    color: black;
    font-size: 24px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    margin-left: 0px;
    font-weight: normal;
}

.third-section{
    margin-top: 48px;
    padding-top: 60px;
    padding-bottom: 24px;
    margin-right: 0px;
}

.third-section-extractor {
    color: black;
    font-size: 36px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
}

.third-section-main-margin {
    margin-top: 48px;
}

div.text-right.padding-r-0 {
    padding-right: 0px;
}

.middle-text.lower-text {
    font-size: 18px;
}

.download-button.download-yellow-button {
    background: url("Images/00003.svg");
    margin-top: 54px;
    margin-bottom: 60px;
}

.fourth-section {
    background: #F8F7F7;
    padding-top: 39px;
    margin-right: 0px;
}

.fourth-section-card-header {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.fourth-section-card-text {
    color: black;
    font-size: 24px;
    font-weight: normal;
}

.fourth-section-end {
    /* margin-bottom: 36px; */
}

.fifth-block {
    background: url("Images/00008.png");
    background-size: 100% 100%;
    padding-top: 90px;
    padding-bottom: 36px;
}

.fifth-block-content {
    margin-top: 96px;
}

.fifth-img-header {
    margin-bottom: 36px;
}

.fifth-card-body {
    font-size: 24px;
    color: black;
}

.fifth-card-corner-offset {
    margin-top: 0px;
}

@media(min-width: 991.97px) {       
    .fifth-card-corner-offset {
        margin-top: 168px;
    }
}

.download-yellow-button.no-offset {
    margin-bottom: 0px;
}

.reference-bottom-message {
    margin-top: 36px;
}

.sixth-section {
    background-color: #F8F7F7;
    font-weight: 500;
}

.top-offset {
    margin-top: 48px;
}

.sixth-section-content-offset {
    margin-top: 48px;
}

.sixth-main-content {
    margin-top: 64px;
}

p.sixth-block {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

p.sixth-block.blue {
    color: #38B7FD;
}

p.sixth-block.bold {
    font-weight: bold;    
}

p.right-block {
    text-align: left;
    font-size: 18px;
}

.sixth-block.right{
    margin-bottom: 24px;
}

.seventh-section {
    margin-top: 24px;
    padding-bottom: 64px;
}

div.seventh-left-block-offset {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-right: 16px;
    background: white;
}

.sixth-block.increased {
    font-size: 36px;
}

.sixth-block.bigger {
    font-size: 24px;
}

.seventh-section-crutch {
    background-image: url("Images/00013.png");
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-size: 40% 100%;
}

@media (max-width: 767.98px) {
    .seventh-section-crutch {
        background-image: url("Images/00013.png");
        background-size: 100% 100%;
    }
    .seventh-section {
        margin-top: 24px;
        padding-bottom: 0px;
    }
}

.eighth-section {
    margin-left: -8.3333333%;
    padding-bottom: 48px;
}

.eighth-section-crutch {
    background-image: url("Images/00014.png");
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-size: 40% 100%;
}

div.eighth-section-right-block {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background: white;
}

@media (max-width: 767.98px) {
    .eighth-section-crutch {
        background-image: url("Images/00014.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.no-right-margin {
    margin-right: 0px;
    margin-left: 0px;
}

div.text-block-offset {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-right: 0px;
    padding-left: 0px;
}

div.nineth-section {
    padding-top: 64px;
    padding-bottom: 96px;
    background-color: #F8F7F7;
}

p.right-block.default {
    font-size: 32px;
    font-weight: bold;
}

p.right-block.blue{
    color: #38B7FD;
    font-size: 64px;
    font-weight: bolder;
    display: inline;
}

p.right-block.inline{
    display: inline;
}

p.right-block.half-invisible {
    color: #A6B2BE;
    font-size: 16px;
}

p.right-block.blue.inline{
    font-size: 32px;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-left-margin {
    margin-left: 0;
}
